CMakeCache.txt
CMakeFiles
CMakeScripts
/CMakeLists.txt.user
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/.project
.idea/workspace.xml
/cmake-build-*
/build*
moc_*.cpp
mocs_*.cpp
moc*.h
/.kdev4
/.vscode
/.idea
/.settings
/nbproject/
/bin/
/sa/
/sareports/
AMLM.srctrlbm
AMLM.srctrldb
AMLM.srctrlprj
